{#
/**
 * @file dom_fragments.html.twig
 * Default theme implementation to present DomFragments data.
 *
 * This template is used when viewing a dom_fragments entity's page,
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dom_fragments()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dom_fragments') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
